doctype html
html
    head
    body
        
        table
            thead
                tr
                    th Name
                    th mobile 
                    th address
                    th date of birth
            tbody               
                    tr
                        td #{result.name}
                        td #{result.phoneNumber}
                        td #{result.address}
                        td #{result.dateOfBirth}